{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Editez le trick</h1>
        {{ include('Admin/Trick/_form.html.twig') }}
    {% spaceless %}
        {% for image in trick.images %}
        {% if image is not null %}
            <img class="mr-3" src="{{ asset('uploads/images/'~image.url)|imagine_filter('squared_thumbnail') }}" alt="Card image cap">
            {% endif %}
            {% endfor %}
        {% endspaceless %}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>

    </script>


{% endblock %}