{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

<h1>Changez de mot de passe</h1>
    {{ form_start(forgottenPassword)}}
    {{ form_row(forgottenPassword.email) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button>
    {{ form_end(forgottenPassword) }}
    </div>

{% endblock %}

