{% extends 'base.html.twig' %}

{% block body %}
    <div class="gradient-background"></div>
    <div class="container pt-5">

<h1 class="text-white ">Changez de mot de passe</h1>
        <div class="text-white pt-5 pb-2">
    {{ form_start(forgottenPassword)}}
    {{ form_row(forgottenPassword.email) }}
        </div>
    <button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button>
    {{ form_end(forgottenPassword) }}
    </div>

{% endblock %}

