{% extends 'base.html.twig' %}

{% block body %}
    <div class="gradient-background"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-white pt-5">Veuillez taper votre nouveau mot de passe</h1>


<div class="text-white pt-5">
                {{ form_start(resetPassword) }}

                {{ form_row(resetPassword.plainPassword) }}
</div>
                <button type="submit" class="btn btn-success">Envoyer </button>
                {{ form_end(resetPassword) }}

            </div>
        </div>
    </div>
{% endblock %}