{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Veuillez taper votre nouveau mot de passe</h1>



                {{ form_start(resetPassword) }}

                {{ form_row(resetPassword.plainPassword) }}
                <button type="submit" class="btn btn-success">Envoyer </button>
                {{ form_end(resetPassword) }}

            </div>
        </div>
    </div>
{% endblock %}